.local-announcement {
  border-top: 1px solid #e6e6e6;
}
@media screen and (min-width: 760px), print {
  .local-announcement {
    margin-top: -18px;
    padding: 22px 0;
    text-align: center;
  }
}
@media screen and (max-width: 759px) {
  .local-announcement {
    padding: 28px 0 20px;
  }
}
.local-announcement__inner {
  position: relative;
}
@media screen and (min-width: 760px), print {
  .local-announcement__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
}
.local-announcement__headline {
  color: #8c8c8c;
  font-weight: bold;
}
@media screen and (min-width: 760px), print {
  .local-announcement__headline {
    -webkit-box-flex: 0;
            flex: 0 1 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    padding-right: 44px;
  }
}
@media screen and (max-width: 759px) {
  .local-announcement__headline {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 760px), print {
  .local-announcement__textBody {
    padding: 10px 0 10px 44px;
    border-left: solid 2px #e6e6e6;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-announcement__textBody {
    width: calc(100% - 190px);
  }
}
.local-announcement__text + .local-announcement__text {
  margin-top: 10px;
}
.local-announcement__text a span {
  font-weight: normal;
  text-align: left;
}
.local-kv {
  overflow: hidden;
}
@media screen and (min-width: 980px), print {
  .local-kv {
    border-bottom: 1px solid #ededed;
  }
}
.local-kv a {
  text-decoration: none;
}
.local-kv:hover .local-kv__switcher {
  opacity: 1;
  -webkit-transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
  transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
}
.local-kv__inner {
  position: relative;
}
.local-kv__container {
  position: relative;
  position: relative;
  height: auto !important;
}
.local-kv__container:before {
  content: '';
  display: block;
  padding-bottom: 36.11111111111111%;
}
@media screen and (min-width: 980px), print {
  .local-kv__container {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
}
@media screen and (max-width: 979px) {
  .local-kv__container {
    border-bottom: 1px solid #fff;
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
}
@media screen and (max-width: 759px) {
  .local-kv__container {
    position: relative;
  }
  .local-kv__container:before {
    content: '';
    display: block;
    padding-bottom: 90.66666666666666%;
  }
}
.local-kv__container > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
html[data-device="desktop"] .local-kv__container .nc3-js-video {
  background: none !important;
}
@media screen and (min-width: 980px), print {
  [data-browser="game"] .local-kv__container {
    position: relative;
  }
  [data-browser="game"] .local-kv__container:before {
    content: '';
    display: block;
    padding-bottom: 33.33333333333333%;
  }
  [data-browser="game"] .local-kv__container .nc3-js-switcher__content * {
    pointer-events: auto;
  }
  [data-browser="game"] .local-kv__container > div {
    opacity: 1 !important;
    visibility: visible !important;
    width: 33.333%;
    height: 100%;
  }
  [data-browser="game"] .local-kv__container > div:nth-child(2) {
    left: 33.333%;
  }
  [data-browser="game"] .local-kv__container > div:nth-child(3) {
    left: 66.666%;
  }
  [data-browser="game"] .local-kv__container > div:nth-child(4),
  [data-browser="game"] .local-kv__container > div:nth-child(5) {
    display: none;
  }
  [data-browser="game"] .local-kv__container > div a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
  }
}
.local-kv__videoContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
.local-kv__videoBanner {
  width: 34.02777777777778%;
  padding-top: 9.722222222222223%;
  padding-bottom: 2.777777777777778%;
  margin: auto;
}
@media screen and (max-width: 759px) {
  .local-kv__videoBanner {
    width: 65.33333333333333%;
    padding-top: 20.666666666666668%;
    padding-bottom: 5.333333333333334%;
  }
}
.local-kv__videoBt {
  margin: auto;
}
@media screen and (min-width: 760px), print {
  .local-kv__videoBt {
    width: 160px;
  }
  .local-kv__videoBt img:last-child {
    display: none;
  }
}
@media screen and (max-width: 759px) {
  .local-kv__videoBt {
    width: 130px;
  }
  .local-kv__videoBt img:first-child {
    display: none;
  }
}
.local-kv__switcher {
  visibility: visible !important;
  border-width: 0;
  position: absolute;
  top: calc(50% - (74px / 2));
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
}
.local-kv__switcher--prev,
.local-kv__switcher--next {
  -webkit-transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 800ms;
  transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 800ms;
}
.local-kv:hover .local-kv__switcher--prev,
.local-kv:hover .local-kv__switcher--next {
  -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 150ms;
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 150ms;
}
.local-kv__switcher--prev {
  left: -40px;
}
html[data-device="touch"] .local-kv__switcher--prev {
  left: 0;
}
.local-kv__switcher--next {
  right: -40px;
}
html[data-device="touch"] .local-kv__switcher--next {
  right: 0;
}
.local-kv:hover .local-kv__switcher--prev {
  left: 0;
}
.local-kv:hover .local-kv__switcher--next {
  right: 0;
}
.local-kv__switcherContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-size: cover;
  background-position: center;
}
.local-kv__switcherContent img {
  width: 100%;
}
.local-kv__navItems {
  font-size: 0;
  letter-spacing: -0.5em;
  white-space: nowrap;
}
@media screen and (min-width: 760px), print {
  .local-kv__navItems {
    height: 74px;
  }
}
@media screen and (max-width: 759px) {
  .local-kv__navItems {
    height: 63px;
  }
}
[data-browser="game"] .local-kv__navItems {
  display: none !important;
}
.local-kv__navItem {
  cursor: pointer;
  display: inline-block;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 4px;
  border-left: 2px solid #fff;
  background-color: #ededed;
  letter-spacing: normal;
  vertical-align: top;
  -webkit-transition: border-color 150ms linear, background-color 150ms linear, color 150ms linear;
  transition: border-color 150ms linear, background-color 150ms linear, color 150ms linear;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.local-kv__navItem:after {
  content: '';
  width: 1px;
  position: absolute;
  top: 20px;
  bottom: 15px;
  left: -1px;
  background-image: -webkit-linear-gradient(top, #b4b4b4, #b4b4b4 1px, transparent 1px, transparent 3px);
  background-image: linear-gradient(to bottom, #b4b4b4, #b4b4b4 1px, transparent 1px, transparent 3px);
  background-repeat: repeat-y;
  background-position: right top;
  background-size: 1px 4px;
}
@media screen and (max-width: 759px) {
  .local-kv__navItem:after {
    display: none;
  }
}
.local-kv__navItem:first-child {
  border-left: none;
}
.local-kv__navItem:first-child:after {
  content: none;
}
html[data-device="desktop"] .local-kv__navItem.is-active {
  -webkit-transition: border-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: border-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #e60012;
}
html[data-device="desktop"] .local-kv__navItem:hover .local-kv__navTimer:after {
  background-color: #e60012;
  -webkit-transition: border-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: border-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.local-kv__navTimer {
  height: 4px;
}
.local-kv__navTimer:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b4b4b4;
  -webkit-transition: border-color 150ms linear, background-color 150ms linear, color 150ms linear;
  transition: border-color 150ms linear, background-color 150ms linear, color 150ms linear;
}
.local-kv__navBox {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
@media screen and (min-width: 980px), print {
  .local-kv__navBox {
    padding: 0 14px;
  }
}
.local-kv__navBox__text {
  -webkit-box-flex: 1;
          flex: 1;
  font-weight: bold;
  white-space: normal;
}
@media screen and (min-width: 1200px), print {
  .local-kv__navBox__text {
    font-size: 12px;
    margin-top: -0.65em;
    margin-bottom: -0.35em;
    line-height: 1.4;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  .local-kv__navBox__text {
    font-size: 10px;
    margin-top: -0.65em;
    margin-bottom: -0.35em;
    line-height: 1.4;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-kv__navBox__text {
    font-size: 12px;
    margin-top: -0.65em;
    margin-bottom: -0.35em;
    line-height: 1.4;
  }
}
@media screen and (max-width: 759px) {
  .local-kv__navBox__text {
    font-size: 10px;
    margin-top: -0.65em;
    margin-bottom: -0.35em;
    line-height: 1.4;
  }
}
@media screen and (min-width: 760px), print {
  .local-kv__navBox__pic {
    width: 42px;
    height: 42px;
  }
  .local-kv__navBox__pic img {
    width: 100%;
  }
  .local-kv__navBox__text {
    padding-left: 12px;
  }
}
@media screen and (max-width: 759px) {
  .local-kv__navBox__pic {
    width: 35px;
    height: 35px;
  }
  .local-kv__navBox__pic img {
    width: 100%;
  }
  .local-kv__navBox__text {
    padding-left: 10px;
  }
}
@media screen and (max-width: 979px) {
  .local-kv__navItem {
    width: 46%;
    -webkit-transition: border-color 150ms linear, background-color 150ms linear, margin-left 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: border-color 150ms linear, background-color 150ms linear, margin-left 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .local-kv__navItem:not(:first-child) {
    margin-left: -32.5%;
  }
  .local-kv__navItem.is-active {
    -webkit-transition: border-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), margin-left 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: border-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), margin-left 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .local-kv__navBox {
    padding: 0;
  }
  .local-kv__navBox__text {
    display: none;
  }
  .local-kv__navItem.is-active + .local-kv__navItem {
    margin-left: 0;
  }
  .local-kv__navItem.is-active .local-kv__navBox {
    padding: 0 12px;
  }
  .local-kv__navItem.is-active .local-kv__navBox__pic {
    margin-left: 0;
  }
  .local-kv__navItem.is-active .local-kv__navBox__text {
    display: block;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-kv__navBox__pic {
    margin-right: 0;
    margin-left: calc((29.3% - 42px) / 2);
  }
}
@media screen and (min-width: 375px) and (max-width: 759px) {
  .local-kv__navBox__pic {
    margin-right: 0;
    margin-left: calc((29.3% - 35px) / 2);
  }
  .local-kv__navBox__text {
    overflow: hidden;
  }
  .local-kv__navBox__textInner {
    width: 111.11111111111111%;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
}
@media screen and (max-width: 374px) {
  .local-kv__navItem {
    width: 20% !important;
    margin-left: 0 !important;
  }
  .local-kv__navItem .local-kv__navBox {
    padding: 0 !important;
  }
  .local-kv__navItem .local-kv__navBox__pic {
    margin: 0 auto !important;
  }
  .local-kv__navItem .local-kv__navBox__text {
    display: none !important;
  }
}
.local-kv__container {
  opacity: 0;
}
.local-kv__inner.is-domready .local-kv__container,
.local-kv__inner.is-rtInited .local-kv__container {
  opacity: 1;
  -webkit-transition: opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.local-kv [data-effect="crossfade"] .nc3-js-switcher__content {
  -webkit-transition: opacity 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53), visibility 0s linear 200ms;
  transition: opacity 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53), visibility 0s linear 200ms;
}
.local-kv [data-effect="crossfade"] .nc3-js-switcher__content.is-active {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.local-new {
  margin-bottom: 42px;
  border-bottom: solid 1px #e6e6e6;
}
@media screen and (max-width: 759px) {
  .local-new {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 980px), print {
  .local-new {
    min-height: 168px;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-new {
    min-height: 168px;
  }
}
@media screen and (max-width: 759px) {
  .local-new {
    min-height: 270px;
  }
}
.local-new.is-loaded {
  min-height: 0 !important;
}
.local-new__row {
  -webkit-transition: border-color 150ms linear, background-color 150ms linear, color 150ms linear;
  transition: border-color 150ms linear, background-color 150ms linear, color 150ms linear;
}
.local-new__row:not(:first-child) {
  background-image: -webkit-linear-gradient(left, #b4b4b4, #b4b4b4 1px, transparent 1px, transparent 3px);
  background-image: linear-gradient(to right, #b4b4b4, #b4b4b4 1px, transparent 1px, transparent 3px);
  background-repeat: repeat-x;
  background-position: left top;
  background-size: 4px 1px;
}
.local-new__row:hover {
  -webkit-transition: border-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: border-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 150ms cubic-bezier(0.165, 0.84, 0.44, 1), color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #e60012;
}
@media screen and (min-width: 760px), print {
  .local-new__row {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 19px 8px 17px 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 759px) {
  .local-new__row {
    position: relative;
    padding: 18px 0 22px;
  }
}
.local-new__link {
  position: absolute;
}
@media screen and (min-width: 760px), print {
  .local-new__link {
    display: none;
  }
}
@media screen and (max-width: 759px) {
  .local-new__link {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.local-new__date {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
@media screen and (min-width: 760px), print {
  .local-new__date {
    font-size: 14px;
    line-height: 20px;
    display: table-cell;
    width: 70px;
    box-sizing: content-box;
    padding-right: 16px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 759px) {
  .local-new__date {
    font-size: 12px;
    display: inline-block;
    color: #8c8c8c;
  }
}
.local-new__text {
  padding-left: 0;
  position: relative;
}
.local-new__text .nc3-a-icon {
  position: absolute;
  width: 10px;
  height: 10px;
}
@media screen and (min-width: 760px), print {
  .local-new__text .nc3-a-icon {
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    margin: auto;
  }
}
@media screen and (max-width: 759px) {
  .local-new__text .nc3-a-icon {
    top: 7px;
    left: 0;
  }
}
.local-new__text .nc3-a-icon svg {
  fill: #e60012;
}
@media screen and (min-width: 760px), print {
  .local-new__text {
    display: block;
    padding-top: 4px;
  }
}
@media screen and (max-width: 759px) {
  .local-new__text {
    width: 100%;
  }
}
.local-new__text a {
  display: block;
  padding-left: 20px;
  font-weight: normal;
}
@media screen and (min-width: 760px), print {
  .local-new__text a {
    padding-right: 30px;
    font-size: 14px;
  }
}
@media screen and (max-width: 759px) {
  .local-new__text a {
    font-size: 12px;
  }
}
.local-new__bt {
  width: 188px;
  margin: auto;
}
@media screen and (max-width: 759px) {
  .local-new__bt {
    width: 167px;
  }
}
@media screen and (min-width: 980px), print {
  .local-sfooter {
    display: -webkit-box;
    display: flex;
  }
}
@media screen and (min-width: 980px), print {
  .local-sfooter__hardNav {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    margin-right: 24px;
  }
}
@media screen and (max-width: 979px) {
  .local-btnNav {
    display: -webkit-box;
    display: flex;
    border-top: 1px solid #e6e6e6;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-btnNav {
    padding-top: 14px;
    -webkit-box-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 759px) {
  .local-btnNav {
    padding-top: 14px;
  }
}
@media screen and (min-width: 980px), print {
  .local-btnNav li {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 979px) {
  .local-btnNav li {
    position: relative;
    text-align: center;
  }
  .local-btnNav li:nth-child(2n):before {
    content: '';
    position: absolute;
    top: 10px;
    left: -1px;
    bottom: 8px;
    width: 1px;
    background-image: -webkit-linear-gradient(top, #8c8c8c, #8c8c8c 1px, transparent 1px, transparent 2px);
    background-image: linear-gradient(to bottom, #8c8c8c, #8c8c8c 1px, transparent 1px, transparent 2px);
    background-repeat: repeat-y;
    background-position: right top;
    background-size: 1px 3px;
  }
}
@media screen and (max-width: 759px) {
  .local-btnNav li {
    -webkit-box-flex: 1;
            flex: 1;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-btnNav li:nth-child(2n) {
    padding-left: 68px;
  }
}
@media screen and (max-width: 759px) {
  .local-btnNav li:nth-child(2n) {
    padding-left: 8px;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-btnNav li:nth-child(2n+1) {
    padding-right: 68px;
  }
}
@media screen and (max-width: 759px) {
  .local-btnNav li:nth-child(2n+1) {
    padding-right: 8px;
  }
}
@media screen and (max-width: 979px) {
  .local-btnNav__button {
    padding: 0;
    border: none !important;
  }
}
.local-schedule__item--more {
  visibility: hidden;
  top: 1px;
  bottom: 1px;
}
.local-scroller__container.is-loaded .local-schedule__item--more {
  visibility: visible;
}
@media screen and (min-width: 980px), print {
  .local-scroller {
    padding-bottom: 69px;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-scroller {
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 759px) {
  .local-scroller {
    margin-top: 6px;
  }
}
.local-scroller .nc3-js-scroller__headWrap {
  bottom: 0;
}
@media screen and (min-width: 980px), print {
  .local-scroller__clip {
    margin: 0 auto;
    max-width: 1120px;
    box-sizing: border-box;
    width: 100%;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-scroller__clip {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 40px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
}
@media screen and (max-width: 759px) {
  .local-scroller__clip {
    margin-left: 0px;
    margin-bottom: 9px;
  }
}
.local-scroller__item {
  width: 275px;
  padding: 48px 0 0 22px;
}
@media screen and (max-width: 759px) {
  .local-scroller__item {
    width: 205px;
    padding: 35px 0 0 22px;
  }
}
.local-scroller__item[data-last="1"] {
  padding-right: 22px;
}
.local-scroller__item .nc3-c-softCard__main {
  padding-bottom: 50px;
}
@media screen and (max-width: 759px) {
  .local-scroller__item .nc3-c-softCard__main {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 759px) {
  .local-scroller__item .nc3-c-softCard__ceroMark,
  .local-scroller__item .nc3-c-softCard__iarcMark {
    bottom: 20px;
  }
}
.local-scroller__wrap {
  padding-bottom: 42px;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
@media screen and (max-width: 1200px), print {
  .local-scroller__wrap {
    padding-left: 40px;
  }
}
@media screen and (max-width: 979px) {
  .local-scroller__wrap {
    padding-left: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 980px), print {
  .local-scroller__container {
    min-height: 374px;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-scroller__container {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 759px) {
  .local-scroller__container {
    margin-left: 14px;
    margin-bottom: 15px;
  }
}
.local-scroller__container.is-loaded {
  min-height: 0 !important;
}
.local-scroller__itemHead {
  top: 0;
  bottom: 0;
  z-index: 0;
  margin-left: 22px;
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-scroller__itemHead {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
  }
}
@media screen and (max-width: 759px) {
  .local-scroller__itemHead:last-of-type {
    margin-left: 0;
  }
}
.local-scroller__itemHead:not(:last-of-type):before,
.local-scroller__itemHead:not(:last-of-type):after {
  z-index: 999;
  background-color: #e6e6e6;
  content: '';
  position: absolute;
  top: 0;
  display: block;
  left: -22px;
}
@media screen and (max-width: 979px) {
  .local-scroller__itemHead:not(:last-of-type):before,
  .local-scroller__itemHead:not(:last-of-type):after {
    content: none;
  }
}
.local-scroller__itemHead:not(:last-of-type):before {
  width: 1px;
  bottom: 2px;
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-scroller__itemHead:not(:last-of-type):before {
    bottom: 1px;
  }
}
@media screen and (min-width: 760px), print {
  .local-scroller__itemHead:not(:last-of-type):after {
    height: 25px;
    width: 5px;
  }
}
.local-scroller__itemHeadInner {
  font-size: 30px;
  margin-top: -0.65em;
  margin-bottom: -0.35em;
  color: #8c8c8c;
  line-height: 0.9;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  z-index: 999;
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-scroller__itemHeadInner {
    width: 319px !important;
    height: -webkit-fill-available;
    height: fill-available;
    top: 0;
    left: 22px !important;
    bottom: 0;
    position: sticky;
  }
  .local-scroller__itemHeadInner:before,
  .local-scroller__itemHeadInner:after {
    z-index: 999;
    background-color: #e6e6e6;
    content: '';
    position: absolute;
    top: 0;
    display: block;
    left: -22px;
  }
  .local-scroller__itemHeadInner:before {
    width: 1px;
    bottom: 2px;
  }
  .local-scroller__itemHeadInner:after {
    height: 22px;
    width: 4px;
  }
}
@media screen and (max-width: 759px) {
  .local-scroller__itemHeadInner {
    font-size: 18px;
    margin-top: -0.65em;
    margin-bottom: -0.35em;
    margin-right: 22px;
    left: 36px !important;
  }
  .local-scroller__itemHeadInner:before {
    background-color: #e6e6e6;
    content: "";
    display: block;
    width: 4px;
    position: absolute;
    top: -2px;
    bottom: -1px;
    left: -19px;
  }
  [data-multi="1"] .local-scroller__itemHeadInner {
    width: 227px !important;
  }
}
.nc3-js-scroller[data-disable_sp="1"] .nc3-js-scroller__itemHeadInner.local-scroller__itemHeadInner {
  height: 100%;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 759px) {
  .nc3-js-scroller[data-disable_sp="1"] .nc3-js-scroller__itemHeadInner.local-scroller__itemHeadInner:before,
  .nc3-js-scroller[data-disable_sp="1"] .nc3-js-scroller__itemHeadInner.local-scroller__itemHeadInner:after {
    z-index: 999;
    background-color: #e6e6e6;
    content: '';
    position: absolute;
    top: 0;
    display: block;
    left: -22px;
  }
  .nc3-js-scroller[data-disable_sp="1"] .nc3-js-scroller__itemHeadInner.local-scroller__itemHeadInner:before {
    width: 1px;
    bottom: 2px;
  }
  .nc3-js-scroller[data-disable_sp="1"] .nc3-js-scroller__itemHeadInner.local-scroller__itemHeadInner:after {
    height: 22px;
    width: 4px;
  }
}
.local-scroller__date {
  display: inline-block;
  font-weight: 600;
}
.local-scroller__year {
  font-size: 12px;
  margin-top: -0.65em;
  margin-bottom: -0.35em;
  font-weight: bold;
}
.local-scroller__day {
  background-color: #8c8c8c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  margin-left: 0.175em;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 759px) {
  .local-scroller__day {
    background-size: 80% 80%;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
  }
}
.local-scroller__day--mon {
  background-image: url("../img/icon-day-mon.svg");
}
.local-scroller__day--tue {
  background-image: url("../img/icon-day-tue.svg");
}
.local-scroller__day--wed {
  background-image: url("../img/icon-day-wed.svg");
}
.local-scroller__day--thu {
  background-image: url("../img/icon-day-thu.svg");
}
.local-scroller__day--fri {
  background-image: url("../img/icon-day-fri.svg");
}
.local-scroller__day--sat {
  background-image: url("../img/icon-day-sat.svg");
  background-color: #30a6d9;
}
.local-scroller__day--sun {
  background-image: url("../img/icon-day-sun.svg");
  background-color: #e60012;
}
.local-scroller__bar {
  display: inline-block;
  margin: 10px 14px 0;
}
@media screen and (max-width: 759px) {
  .local-scroller__bar {
    width: 200px;
    display: none;
  }
}
.local-scroller__bar:after {
  left: -10px;
  right: -10px;
  bottom: -40px;
}
[data-section="1"] .local-scroller__barSlide,
[data-section="3"] .local-scroller__barSlide {
  background-color: #f57900;
}
.local-scroller__barKnob {
  position: relative;
  margin: 22px auto 0;
  margin-left: calc((100% - 72px) / 2);
  margin-right: calc((100% - 72px) / 2);
  padding: 0;
  background-color: #e60012;
  color: #fff;
  cursor: pointer !important;
}
@media screen and (max-width: 759px) {
  .local-scroller__barKnob {
    margin-left: calc((100% - 67px) / 2);
    margin-right: calc((100% - 67px) / 2);
  }
}
[data-section="1"] .local-scroller__barKnob,
[data-section="3"] .local-scroller__barKnob {
  background-color: #f57900;
}
.local-scroller__barKnob span:first-child {
  position: absolute;
  top: -4px;
  right: 0;
  bottom: auto;
  left: 0;
  height: 3px;
  background-color: #e60012;
}
[data-section="1"] .local-scroller__barKnob span:first-child,
[data-section="3"] .local-scroller__barKnob span:first-child {
  background-color: #f57900;
}
[data-section="1"] .local-scroller__barKnob span:first-child:after,
[data-section="3"] .local-scroller__barKnob span:first-child:after {
  background-color: rgba(0,0,0,0.15);
}
.local-scroller__barKnob span:last-child {
  position: absolute;
  top: -8px;
  bottom: auto;
  left: 50%;
  margin-left: -4px;
  border: 4px solid;
  border-right-color: transparent !important;
  border-bottom: 4px solid;
  border-left-color: transparent !important;
  border-top: none;
  border-color: #e60012;
}
.local-scroller__barKnob span:last-child:after {
  top: 0;
  bottom: auto;
  border-bottom: 4px solid rgba(0,0,0,0.25);
  border-top: none;
}
[data-section="1"] .local-scroller__barKnob span:last-child,
[data-section="3"] .local-scroller__barKnob span:last-child {
  border-color: #f57900;
}
[data-section="1"] .local-scroller__barKnob span:last-child:after,
[data-section="3"] .local-scroller__barKnob span:last-child:after {
  border-bottom: 4px solid rgba(0,0,0,0.15);
}
.local-scroller__barDisplay {
  text-align: center;
  font-size: 12px;
  margin-top: -0.65em;
  margin-bottom: -0.35em;
  font-weight: bold;
}
.local-scroller__more {
  display: block;
  position: relative;
  position: relative;
}
.local-scroller__more:before {
  content: '';
  display: block;
  padding-bottom: 72.55813953488372%;
}
html[data-browser='ie'] .local-scroller__barDisplay {
  letter-spacing: 1px;
}
@media screen and (min-width: 760px), print {
  #local-schedule .top-headline {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 759px) {
  #local-schedule .top-headline {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 760px), print {
  .local-section--topics .top-headline {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 759px) {
  .local-section--topics .top-headline {
    margin-bottom: 20px;
  }
}
.local-section--topics {
  background-color: #fff;
  position: relative;
  z-index: 997;
}
@media screen and (max-width: 979px) {
  .local-section--topics {
    border-top: 1px solid #ededed;
  }
}
.local-section--new {
  padding-bottom: 98px;
}
@media screen and (max-width: 759px) {
  .local-section--new {
    padding-bottom: 49px;
  }
}
.local-section--announcement {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.local-section--sfooter {
  padding-bottom: 0;
}
@media screen and (max-width: 759px) {
  .local-section--sfooter {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 760px), print {
  .local-section__headline {
    padding-top: 72px;
  }
}
@media screen and (max-width: 759px) {
  .local-section__headline {
    padding-top: 50px;
  }
}
.local-section__headline .local-section__headline-subTtl {
  color: #b4b4b4;
}
.local-section__acticles {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
          flex: 1;
}
@media screen and (min-width: 760px), print {
  .local-section__acticles {
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 759px) {
  .local-section__acticles {
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 980px), print {
  .local-section__acticles {
    min-height: 735px;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-section__acticles {
    min-height: 983px;
  }
}
@media screen and (max-width: 759px) {
  .local-section__acticles {
    min-height: 1058px;
  }
}
.local-section__acticles.is-loaded {
  min-height: 0 !important;
}
.local-section__bt {
  margin: auto;
}
@media screen and (min-width: 760px), print {
  .local-section__bt {
    width: calc(9.5em + 48px);
  }
}
@media screen and (max-width: 759px) {
  .local-section__bt {
    width: calc(9.5em + 40px);
  }
}
@media screen and (min-width: 760px), print {
  .local-softUnit {
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media screen and (max-width: 759px) {
  .local-softUnit {
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
  }
}
.local-softUnit--soft {
  border-bottom: solid 1px #e6e6e6;
}
@media screen and (min-width: 980px), print {
  .local-softUnit--soft {
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-softUnit--soft {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 759px) {
  .local-softUnit--soft {
    padding-bottom: 9px;
  }
}
.local-softUnit.is-new-e3:after,
.local-softUnit.is-normal-e3:after {
  content: '';
  display: block;
  height: 56px;
  width: 56px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("../img/new.svg");
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 759px) {
  .local-softUnit.is-new-e3:after,
  .local-softUnit.is-normal-e3:after {
    -webkit-transform: scale(0.666666666666667);
            transform: scale(0.666666666666667);
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
}
.local-softUnit.is-new-e3:after {
  background-image: url("../img/new_e3.svg");
}
.local-softUnit.is-normal-e3:after {
  background-image: url("../img/normal_e3.svg");
}
@media screen and (max-width: 979px) {
  .topic-path-item span {
    font-size: 0 !important;
    line-height: 0 !important;
    text-indent: -9999px !important;
    padding: 0 !important;
    display: block;
  }
  .topic-path-item span:before {
    display: none !important;
  }
}
.topic-path-item span svg {
  fill: #fff;
  display: block;
  position: static !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
@media screen and (max-width: 979px) and (min-width: 760px) and (max-width: 979px) {
  .topic-path-item span {
    width: 96px;
    height: calc(96px * 46 / 176) !important;
  }
}
@media screen and (max-width: 979px) and (max-width: 759px) {
  .topic-path-item span {
    width: 88px;
    height: calc(88px * 46 / 176);
    margin: 0 auto;
  }
}
.local-borderHeader {
  padding-bottom: 22px;
  position: relative;
  line-height: 1;
}
.local-borderHeader:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 2px;
  background-color: #e6e6e6;
}
@media screen and (max-width: 979px) {
  .local-borderHeader {
    padding-bottom: 12px;
  }
}
.local-borderHeader__main {
  position: relative;
  float: left;
  font-size: 21px;
  margin-bottom: -0.4em;
  margin-top: -0.4em;
  line-height: 32px;
  font-weight: bold;
}
.local-borderHeader__main:before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  height: 2px;
  background-color: #e60012;
  display: block;
  width: 100%;
}
@media screen and (max-width: 979px) {
  .local-borderHeader__main:before {
    bottom: -5px;
  }
}
@media screen and (max-width: 979px) {
  .local-borderHeader__main {
    font-size: 16px;
  }
}
.local-section__headline-subTtl {
  font-size: 12px;
  margin-top: -5px;
  font-weight: bold;
}
/* 20200204 */
.hardSwitch-infomations-wp {
  border-bottom: 1px solid #ededed;
  background: #f8f8f8;
}
.hardSwitch-infomations {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
}
@media screen and (min-width: 980px), print {
  .hardSwitch-infomations {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: start;
            align-items: flex-start;
    position: relative;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .hardSwitch-infomations {
    padding-top: 3.5vw;
    padding-bottom: 4.5vw;
    width: auto;
    border-bottom: 1px solid #fff;
  }
}
@media screen and (max-width: 759px) {
  .hardSwitch-infomations {
    padding-top: 4.5vw;
    padding-bottom: 5.5vw;
    width: auto;
    border-bottom: 1px solid #fff;
  }
  .type-family .hardSwitch-infomations {
    padding: 5vw 0;
  }
}
.hardSwitch-infomations__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* width: 88%; */
}
@media screen and (min-width: 980px), print {
  .hardSwitch-infomations--nowrap .hardSwitch-infomations__inner {
    width: 95.11883802816901%;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .hardSwitch-infomations--nowrap .hardSwitch-infomations__inner {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .hardSwitch-infomations__inner {
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 759px) {
  .hardSwitch-infomations__inner {
    margin-top: -12px;
    width: 100%;
  }
}
.hardSwitch-infomations__title {
  position: relative;
  width: 12%;
  white-space: nowrap;
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .hardSwitch-infomations__title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 759px) {
  .hardSwitch-infomations__title {
    margin-bottom: 10px;
  }
}
.hardSwitch-infomations__title-text {
  font-size: 21px;
  font-weight: bold;
  color: #3c3c3c;
  letter-spacing: 1px;
}
@media screen and (min-width: 980px), print {
  .hardSwitch-infomations__title-text {
    line-height: 1;
    margin-top: 2px;
  }
}
@media screen and (max-width: 759px) {
  .hardSwitch-infomations__title-text {
    font-size: 16px;
  }
}
.hardSwitch-infomation {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 100%;
}
.hardSwitch-infomation:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 980px), print {
  .hardSwitch-infomation:hover .hardSwitch-infomation__image::after {
    opacity: 1;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .hardSwitch-infomation {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 759px) {
  .hardSwitch-infomation {
    display: block;
    margin-top: 12px;
    width: 100%;
  }
  .type-family .hardSwitch-infomation {
    margin-left: 0;
  }
}
@media screen and (min-width: 980px), print {
  .hardSwitch-infomations--nowrap .hardSwitch-infomation {
    width: calc((100% - 96px) / 3);
    margin-left: 48px;
  }
}
.hardSwitch-infomation__text {
  color: #3c3c3c;
  width: 100%;
}
.hardSwitch-infomation__date {
  color: #3c3c3c;
  font-weight: 700;
  display: inline-block;
  width: 14%;
}
@media screen and (min-width: 1425px), print {
  .hardSwitch-infomation__date,
  .hardSwitch-infomation__text {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 980px), print {
  .hardSwitch-infomation__date,
  .hardSwitch-infomation__text {
    font-size: 12px;
    display: -webkit-box;
    display: flex; /* 子要素をflexboxで揃える */
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .hardSwitch-infomation__date {
    display: block;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .hardSwitch-infomation__date {
    display: block;
    line-height: 1.583;
  }
}
@media screen and (max-width: 759px) {
  .hardSwitch-infomation__date,
  .hardSwitch-infomation__text {
    font-size: 12px;
    line-height: 1.583;
  }
  .hardSwitch-infomation__date {
    display: block;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 980px), print {
  .hardSwitch-infomation__textDate {
    display: block;
    box-sizing: content-box;
    white-space: nowrap;
    line-height: 1;
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .hardSwitch-infomation__textDate {
    font-size: 2.14vw;
    font-weight: 400;
  }
}
@media screen and (max-width: 759px) {
  .hardSwitch-infomation__textDate {
    margin-bottom: 8px;
    display: block;
    font-size: 3.2vw;
    font-weight: 400;
  }
}
@media screen and (min-width: 980px), print {
  .hardSwitch-infomation__text-inner {
    display: inline-block;
  }
}
@media screen and (max-width: 759px) {
  .hardSwitch-infomation__text a:not(:last-child) {
    margin-bottom: 10px;
  }
}
.hardSwitch-infomation__text a {
  display: inline-block;
  -webkit-transition: color 150ms linear;
  transition: color 150ms linear;
}
.hardSwitch-infomation__text a span {
  text-decoration: underline;
  font-weight: 400;
  line-height: 1.6;
}
.hardSwitch-infomation__text a span .date {
  font-weight: 700;
  display: inline-block;
}
.hardSwitch-infomation__text a.hardSwitch-iconlink {
  margin-left: 12px;
  text-indent: -12px;
}
html[data-device="desktop"] .hardSwitch-infomation__text a:hover {
  color: #e60012;
}
html[data-device="desktop"] .hardSwitch-infomation__text a:hover .bolder {
  font-weight: 700 !important;
}
.local-newtopics > div:last-child {
  display: none;
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .local-newtopics > div:last-child {
    display: block;
  }
}
