
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Nintedo homepage</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- <svg class="icon icon-wrench"><use xlink:href="#icon-wrench"></use></svg> -->
  </head>
  <body>
    <header>
      <img src="/img/og_nintendo.png" class="logo"　alt="画像が読み込めません">
      <div class="labels-left">
        <a><i class="fa fa-plus link-icon" ></i> <span class="link-text">本体・amiibo</span></a>
        <a><i class="fa fa-star link-icon" ></i> <span class="link-text">ゲームソフト</span></a>
        <a><i class="fa fa-newspaper-o link-icon"></i> <span class="link-text">トピックス</span></a>
        <a><i class="fa fa-smile-o link-icon"></i> <span class="link-text">キャラクター</span></a>
        <a><i class="fa fa-wrench link-icon"></i> <span class="link-text">サポート</span></a>
      </div>
      <div class="labels-right">
        <a><i class="fa fa-user"> </i><p>ログイン</p></a>
        <a><i class="fa fa-shopping-cart"> </i><p>ストア</p></a>
        <a><i class="fa fa-search"> </i><p>さがす</p></a>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="top-img">
      </div>

      <div class="top">
        <div id="top-banner">
          <img class = "display" src="/img/pikumin-banner.jpg" alt="画像が読み込めません">
          <img class = "non-display" src="/img/domori-banner.jpg" alt="画像が読み込めません">
          <img class = "non-display" src="/img/notore-banner.jpg" alt="画像が読み込めません">
          <img class = "non-display" src="/img/asobi-banner.jpg" alt="画像が読み込めません">
          <img class = "non-display" src="/img/pokemon-banner.jpg" alt="画像が読み込めません">
        </div>
        <button type="button" name="button" id = "del-btn">削除</button>
        <div class="titles">

        </div>
      </div>
    </div>
    <div class="topics">
      <h1>トピックス</h1>
    </div>

    <script src="script.js"></script>
  </body>
</html>
