<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Nintedo homepage</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- <svg class="icon icon-wrench"><use xlink:href="#icon-wrench"></use></svg> -->
  </head>
  <body>
    <header>
      <img src="/img/og_nintendo.png" class="logo"　alt="画像が読み込めません">
      <div class="labels-left">
        <a><i class="fa fa-plus link-icon" ></i> <span class="link-text">本体・amiibo</span></a>
        <a><i class="fa fa-star link-icon" ></i> <span class="link-text">ゲームソフト</span></a>
        <a><i class="fa fa-newspaper link-icon"></i> <span class="link-text">トピックス</span></a>
        <a><i class="fa fa-smile link-icon"></i> <span class="link-text">キャラクター</span></a>
        <a><i class="fa fa-wrench link-icon"></i> <span class="link-text">サポート</span></a>
      </div>
      <div class="labels-right">
        <a><i class="fa fa-user"> </i><p>ログイン</p></a>
        <a><i class="fa fa-shopping-cart"> </i><p>ストア</p></a>
        <a><i class="fa fa-search"> </i><p>さがす</p></a>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="top-img">
      </div>

      <div class="top">
        <div id="top-banner">
          <% for(let i = 0; i < 5 ; i++){ %>
            <img class ="banner-display" src= <%= "img/" +   games[i].keyword  + "-banner.jpg" %>  alt="画像を読み込めません">
          <% }; %>
        </div>
        <ul class="bar">
          <% for(let i = 0; i < 5 ; i++){ %>
          <li class="bar-part"></li>
          <% }; %>
        </ul>

        <div class="game-titles">
          <% for(let i = 0; i < 5 ; i++){ %>
          <div class = "container">
            <img class ="game-icon" src= <%= "img/" +   games[i].keyword  + "-icon.jpg" %>  alt="画像を読み込めません">
            <span href = "#"> <%= games[i].name %></span>
          </div>
          <% }; %>
        </div>
      </div>
    </div>
    <div class="topics">
    </div>

    <script src="script.js"></script>
  </body>
</html>
